{% load my_tags %}

<div class="recipe_card">
    <a href="{% url 'recipes:recipe' recipe.pk %}">
        <table>
            <tr>
                <td rowspan="2" class="recipe_img">
                    <img src="{{ recipe.image|media_folder_recipes }}">
                </td>
                <td class="recipe_spacer"></td>
                <td class="recipe_tittle">{{ recipe.name }} </td>
                <td class="recipe_spacer"></td>
            </tr>
            <tr>
                <td colspan="2" class="recipe_desc">
                    <p>{{ recipe.description }}</p>
                </td>
                <td class="recipe_spacer">
                    <p>
                        <img class="symbol" src="{{ recipe.duration|duration_pic }}" width="52">
                    </p>
                    <p>
                        <img class="symbol" src="{{ recipe.level|level_pic }}" width="52">
                    </p>
                    <p>
                        {% include 'mainapp/includes/inc_to_favorite.html' %}
                    </p>
                </td>
            </tr>
        </table>
    </a>
</div>
