<hr>
<div class="cuisine-menu">
<ul class="nav nav-tabs justify-content-center">
  <li class="nav-item">
    <a href="{% url 'recipes:index' %}"
       class="nav-link {% if request.resolver_match.kwargs.cuisine == None %}
                  active
                {% endif %}">
      Все кухни
    </a>

  </li>
  {% for cuisine in cuisine_list %}
    <li class="nav-item">
      <a href="{% url 'recipes:cuisine' cuisine.name %}"
         class="nav-link {% if request.resolver_match.kwargs.cuisine == cuisine.name %}
                  active
                {% endif %}">
        {{ cuisine.name }}
      </a>
    </li>
  {% endfor %}
</ul>
</div>
<hr>
