<hr>
<ul class="nav nav-tabs justify-content-center">
  <li class="nav-item">
    <a href="{% url 'recipes:index' %}"
       class="nav-link {% if request.resolver_match.kwargs.pk is None %}
                active
              {% endif %}">
      Все кухни
    </a>

  </li>
  {% for cuisine in cuisines %}
    <li class="nav-item">
      <a href="{% url 'recipes:cuisine' cuisine.pk %}"
         class="nav-link {% if request.resolver_match.kwargs.pk|add:'0' == cuisine.pk %}
                  active
                {% endif %}">
        {{ cuisine.name }}
      </a>
    </li>
  {% endfor %}
</ul>
<hr>