@import url(https://fonts.googleapis.com/css?family=Amatic+SC|Poiret+One);


.cuisine-menu {
    width: 90%;
    background-color: rgba(255, 229, 163, 0.85);
    background: ;
    margin: 0 auto;
}
.borshch-menu {
    position: relative;
    width: 90%;
    height: 120px;
    margin: 0 auto;
    background-color: rgba(255, 227, 156, 0.85);
	vertical-align: middle;
	text-align: center;
	font-family: 'Amatic SC';
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.borshch-menu ul {
    margin: 0 auto;
}

.borshch-menu li a {
    color: black;
}

.borshch-menu li {
    padding-top: 38px;
	float: center;
	display: inline-block;
	padding-right: 40px;
	list-style-type: none;
}

.bg-img {
    background-image: url( '/static/img/bg_image.jpg' );
    background-repeat: repeat;
}

.container {
    width: 90%;
	margin: 0 auto;
}

.recipe_card {
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 30px;


}

.recipe_card a:hover {
    text-decoration: none;
}

.recipe_card table {
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    font-family: Poiret One;
    font-style: normal;
    font-weight: normal;
    background: white;
    align-items: center;
}


.recipe_card img {
    width: 310px;
    border-radius: 30px;
    margin: 20px;
}

.recipe_img {
    background: #FFE5A3;
    border-radius: 30px 0px 0px 30px;
}

.recipe_tittle {
    padding: 15px;
    font-size: 36px;
    line-height: 42px;
    display: block;
    text-align: center;
    color: #000000;
    background: #FFE5A3;
    border-radius: 0px 0px 30px 30px;


}

.recipe_desc {
    padding: 25px;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.recipe_spacer {
    width: 92px;
}

.recipe_spacer img {
    width: 52px;
    margin: 0 auto;
}

.full_recipe_card {

    background: white;
    font-family: Poiret One;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    padding: 5px;
}

.full_recipe_card img {
    width: 400px;
    border-radius: 30px;
    margin: 20px;
}


.full_recipe_icons img{
    width: 52px;
    margin: 0 auto;
    margin-left: 15px;
    margin-right: 15px;
}

.full_recipe_buy img{
    width: 32px;
    margin: 0 auto;
    margin-left: 10px;
    margin-right: 10px;
}

.cookingstep img{
    width: 200px;
    border-radius: 30px;
    margin: 20px;
}

.card-header img {

    border-radius: 30px;
    margin: 20px;
}


input[type=submit] {
    width: 310px;
    background: #FACA52;
    border-radius: 10px;
    font-family: Poiret One;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: black;
}

.filter-menu {
    background: white;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin: 0 auto;

}

.filter-menu td{
    width: 75px;
    font-family: Poiret One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}


.filter-menu-header {
    background: #FFE5A3;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}



.nav-item a{
     color: black;
}

.box {
    padding-bottom: 20px;
    padding-top: 20px;
}

.float_left {

    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10 px;

    float: left;

}

.clear {
    clear: both;
}