<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <div class="header">
        {% block header %}
            {% include 'mainapp/includes/inc_cuisine_menu.html' %}
        {% endblock %}
    </div>

    <h1>Последний рецепт</h1>

    {% for recipe in recipes %}
        <h2>{{ recipe.name }}</h2>
        <p>{{ recipe.cuisine.name }} кухня </p>
        <p>{{ recipe.description }}</p>
        <p><a class="btn btn-primary" href="{% url 'recipes:recipe' recipe.id %}">Посмотреть рецепт</a></p>
    {% endfor %}

</body>
</html>