{% extends 'mainapp/base.html' %}
{% load my_tags %}

{% block title %}
    <title>{{ title }}</title>
{% endblock %}

{% block content %}
<div class="container">
    <h3>Последний добавленный рецепт:</h3>
    <br>
    {% for recipe in recipes %}
        <div class="recipe_card">
            <table>
                <tr>
                    <td rowspan="2" class="recipe_img">
                        <img src="{{ recipe.image|media_folder_recipes }}">
                    </td>
                    <td class="recipe_spacer"></td>
                    <td class="recipe_tittle">{{ recipe.name }} {% include 'mainapp/includes/inc_to_favorite.html' %}</td>
                    <td class="recipe_spacer"></td>
                </tr>
                <tr>
                    <td colspan="3" class="recipe_desc">

                        <p>{{ recipe.description }}</p>
                        <a href="{% url 'recipes:recipe' recipe.pk %}" class="btn btn-primary">Смотреть рецепт</a>
                    </td>
                </tr>
            </table>
        </div>
    {% endfor %}
</div>
{% endblock %}