{% extends 'mainapp/base.html' %}
{% load my_tags %}

{% block title %}
    <title>{{ title }}</title>
{% endblock %}

{% block content %}
<div class="container">
    <h3>Последний добавленный рецепт:</h3>
    <br>
    {% for recipe in recipes %}
        <div class="card text-center">
            <div class="card-header">
                <img src="{{ recipe.image|media_folder_recipes }}" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ recipe.name }}</h5>
                <p class="card-text">{{ recipe.description }}</p>
                <a href="{% url 'recipes:recipe' recipe.id %}" class="btn btn-primary">Смотреть рецепт</a>
            </div>
        </div>
    <p></p>
    {% endfor %}
</div>
{% endblock %}