{% extends 'mainapp/base.html' %}
{% load my_tags %}

{% block title %}
    <title>{{ title }}</title>
{% endblock %}

{% block content %}

<div class="container">
    <form class="row">
        {{ level_form.search }}
        {{ level_form.filter_field }}
        {{ duration_form.search }}
        {{ duration_form.filter_field }}
        <input type="submit" class="btn btn-default" value="Search">
    </form>

    {% for recipe in recipes %}
        {% include 'mainapp/includes/inc_recipe_card.html' %}
    {% endfor %}

</div>
{% endblock %}