{% extends 'mainapp/base.html' %}
{% load my_tags %}


{% block title %}
    <title>{{ title }}</title>
{% endblock %}



{% block content %}
<div class="container">
        <div class="card text-center">
            <div class="card-header">
                <img src="{{ recipe.image|media_folder_recipes }}" class="card-img-top" alt="...">

            </div>
            <div class="card-body">

                <h5 class="card-title">{{ recipe.name }} {% include 'mainapp/includes/inc_to_favorite.html' %}</h5>
                <p class="card-text">
                    Время приготовления: <img src="{{ recipe.duration|duration_pic }}">
                    Сложность: <img src="{{ recipe.level|level_pic }}"></p>
                <p class="card-text">{{ recipe.cuisine.name }} кухня</p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        {{ recipe.description }}
                    </li>
                    <li class="list-group-item">

                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">Ингредиент</th>
                                    <th scope="col">Количество</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for composition in composition_list %}
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td>{{ composition.ingredient.name }}</td>
                                    <td>{{ composition.quantity }}</td>
                                    <td>{{ composition.ingredient.unit.short_name }} </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </li>

                    {% for cooking_step in cooking_step_list %}
                    <li class="list-group-item">
                        <p><img src="{{ cooking_step.image|media_folder_cooking_step }}" width="150"></p>
                        <p>{{ cooking_step.cooking }}</p>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
</div>
{% endblock %}


